! special
URxvt*foreground:   #add9e4
URxvt*background:   #070c0d
URxvt*cursorColor:  #add9e4

! black
URxvt*color0:       #0e1416
URxvt*color8:       #98c6d1

! red
URxvt*color1:       #151e20
URxvt*color9:       #bab5da

! green
URxvt*color2:       #233033
URxvt*color10:      #db997e

! yellow
URxvt*color3:       #37494d
URxvt*color11:      #bfc771

! blue
URxvt*color4:       #50686e
URxvt*color12:      #d8e17b

! magenta
URxvt*color5:       #6e8d95
URxvt*color13:      #eecfe0

! cyan
URxvt*color6:       #90b9c3
URxvt*color14:      #e8a78d

! white
URxvt*color7:       #cde7ee
URxvt*color15:      #bfbae1


! ----- Font Definitions -----
#define Fontname    xft:Terminus
#define Fontsize    14

URxvt*font:             Fontname:regular:pixelsize=Fontsize
URxvt*imFont:           Fontname:regular:size=Fontsize
URxvt*boldFont:         Fontname:bold:pixelsize=Fontsize
URxvt*italicFont:       Fontname:italic:autohint=true:pixelsize=Fontsize
URxvt*boldItalicFont:   Fontname:bold:italic:autohint=true:pixelsize=Fontsize

URxvt*scrollBar: false
URxvt.iso14755: False
URxvt.perl-ext-common: default,clipboard

URxvt.inputMethod: ibus
URxvt.preeditType: OverTheSpot

