! ----- Font Definitions -----
#define Fontname  xft:Hack
#define Fontsize  11

URxvt*font:             Fontname:regular:size=Fontsize:antialias=true,xft:Droid Sans Fallback:size=Fontsize:antialias=true
URxvt*imFont:           Fontname:regular:size=Fontsize
URxvt*boldFont:         Fontname:bold:size=Fontsize
URxvt*italicFont:       Fontname:italic:autohint=true:size=Fontsize
URxvt*boldItalicFont:   Fontname:bold:italic:autohint=true:size=Fontsize

URxvt*scrollBar: false
URxvt*lineSpace: 2
URxvt.internalBorder: 20
URxvt.iso14755: False
URxvt.perl-ext-common: default,clipboard,resize-font

URxvt.inputMethod: ibus
URxvt.preeditType: OverTheSpot

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.theme: ~/.cache/wal/colors-rofi-dark.rasi
